.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: auto;
  grid-area: auto;
  flex-wrap: wrap;
  height: 670px;
}
.containerText {
  width: 600px;
  margin-top: 20px;
}
.text {
  font-size: 37px;
  color: rgb(218, 216, 216);
}
h2 {
  font-size: 37px;
  color: rgb(218, 216, 216);
}
