.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: auto;
  flex-wrap: wrap;
  height: 600px;
}
.containerText {
  width: 600px;
  height: 250px;
}
.text {
  font-size: 37px;
  color: white ;
}
h1 {
  font-size: 37px;
  color: white;
}

.img-fluid {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
