.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: auto;
  flex-wrap: wrap;
  height: 600px;
}
.containerText {
  width: 600px;
  height: 250px;
}
.text {
  font-size: 37px;
  color: #f0f8ff;
}
h1 {
  font-size: 37px;
  color: #f0f8ff;
}

