.App {
  text-align: center;
  height: 100%;
  /* background-size: cover;
  background-image: url("https://media.istockphoto.com/id/1289474209/video/digital-cyberspace-futuristic-purple-color-particles-wave-flowing-with-lines-and-dots.jpg?s=640x640&k=20&c=rMczm4ldzWs9-RJ36AFmKDxsVWYRVsrbVIZitwmP1OA="); */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
